In [ ]:
print("hi am Ayushi")

hi am Ayushi

In [ ]:
# More on for loop
# for loop is use to lietrate a particular list of elements.
# Example

li = [2,4,6,8,10]

for ele in li:
  print(ele)

2
4
6
8
10

In [ ]:
# creating table of 2 using for loop

num = 2
for i in range(1,11):
  print(num * i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# create table of a particular number given by user using for loop but don't use multiplication operator
print("enter the number of create table of: ")

num = int(input())
table_num = 0

print("table of " , num)

for i in range(1,11):
  table_num = table_num + num
  print(table_num)

enter the number of create table of:
4
table of  4
4
8
12
16
20
24
28
32
36
40

In [ ]:
# range(start, end, stepsize)
print("enter the number of create table of:")

num = int(input())
table_num = 0

print("table of " , num)
end = num * 10 + 1
for table_num in range(num,end,num):
    print(table_num)

enter the number of create table of:
3
table of  3
3
6
9
12
15
18
21
24
27
30

In [ ]:
N = int(input())
ans = 0
for i in range(1, N + 1):
  if i % 2 == 0:
    ans = ans + i

print("ans is" , ans)

9
ans is 20

In [ ]:
for i in range(1,6):
    for j in range(1,6):
       print(" * " , end = "")
    print()

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [ ]:
for i in range (1,6):
  print("* * * * *")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
N = int(input())
for i in range(N):
  for j in range(N):
    print(N, end = "")
  print()

6
666666
666666
666666
666666
666666
666666

In [ ]:
#write a python code to print the following pattern.

# if N = 4

# *
# * *
# * * *
# * * * *
N = int(input())

# Method 1 stareting from 0
for i in range(N):
  for j in range(i + 1):
    print("* " , end = "")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# Method 2 index starting from 1.

N = int(input())
for i in range(1, N + 1):
  for j in range(1, i + 1):
    print("* " , end = "")
  print()

7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [27]:
N =int(input())
for i in range(1, N +1):
  for j in range(1, i + 1):
    print(i, end = " ")

  print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5