In [11]:
x = 1
z = 2



for z in range(1, 11):
    print(f'value is z is {z}')
    while x <= 10:
        y = z * x
        print(f'{z} x {x} = {y}')
        x = x + 1
    x = 1

value is z is 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
value is z is 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
value is z is 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
value is z is 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
value is z is 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
value is z is 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
value is z is 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
value is z is 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
value is z is 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
value is z is 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [28]:
x = 1
z = 2


for z in range(1, 11):
    # print(f'value is z is {z}')
    while x <= 20:
        y = z * x
        print(f'{y}', end='\t')
        # print(f'{z} x {x} = {y}')
        x = x + 1
    print("\n")
    
    x = 1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40

3	6	9	12	15	18	21	24	27	30	33	36	39	42	45	48	51	54	57	60

4	8	12	16	20	24	28	32	36	40	44	48	52	56	60	64	68	72	76	80

5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95	100

6	12	18	24	30	36	42	48	54	60	66	72	78	84	90	96	102	108	114	120

7	14	21	28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

8	16	24	32	40	48	56	64	72	80	88	96	104	112	120	128	136	144	152	160

9	18	27	36	45	54	63	72	81	90	99	108	117	126	135	144	153	162	171	180

10	20	30	40	50	60	70	80	90	100	110	120	130	140	150	160	170	180	190	200

In [ ]:
# This is a program to construct the pahada for numbers 1 to 10

# z is the variable to get the table for numbers from 1 to 10
    # running for loop to change the value z
    # checking if x is less than equal to 10 then we run the code
        # main formula to calculate the table for each cell
        # print the calculated value
        # increase the value of x by 1 to calculate the next value in the table
    # print new line so that next value is formatted beautifully
    # reset the value of x to 1

In [14]:
# This is a program to construct the pahada for numbers 1 to 10
x = 1

# z is the variable to get the table for numbers from 1 to 10
for z in range(1, 11):
    # running for loop to change the value z
    while x <= 10: # checking if x is less than equal to 10 then we run the code
        # main formula to calculate the table for each cell
        y = z * x
        # print the calculated value
        print(f'{y}', end='\t')
        # increase the value of x by 1 to calculate the next value in the table
        x = x + 1
    # print new line so that next value is formatted beautifully
    print("\n")
    # reset the value of x to 1
    x = 1

100

In [ ]:
x = 1
print ("constant x variable = result")
while x <= 10:
    y = 2 * x
    print (f'2 x {x} = {y}')
    x = x + 1

constant x variable = result
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

![](./Screen%20Shot%202024-04-05%20at%2012.45.58%20PM.png)